.main {
    position: relative;
    background: rgb(250, 249, 249);
}

.main-topmost {
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-topmost-heading {
    text-align: center;
    width: 58%;
    padding: 7px 0;
}

h1 {
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: 2px;
    font-weight: 500;
    letter-spacing: 0.7px;
    font-weight: 400;
}

p {
    padding: 0 2px;
    font-size: 13px;
    font-weight: 600;
    font-family: "Gilroy-Light", sans-serif;
    margin-bottom: 7px;
    color: #5a5858;
    line-height: normal;
}

.main-topmost-maincategory {
    width: 90%;
    text-align: center;
    margin-bottom: 7px;
}

.main-topmost-subcategory {
    width: 90%;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    margin-bottom: -20px;
    margin-left: 100px;
}

.main-topmost-subcategory::-webkit-scrollbar {
    display: none;
}

.main-topmost-maincategory .btn {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Gilroy", sans-serif;
}

.main-topmost-subcategory .btn-underline {
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    margin-bottom: 1px;
    font-family: "Gilroy", sans-serif;
}

.main-topmost-subcategory .btn-underline:hover {
    background: rgb(244, 226, 70);
    padding: 1px 5px;
    border-radius: 10px;
}

.main-mid {
    height: calc(95vh - (150px + 90px));
}

.main-mid-whole {
    height: calc(93vh - 140px);
}


.main-bottom {
    background: #f4cc03;
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.main-bottom h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 2px 0;
}


.lang-btn {
    position: absolute;
    padding: 6px;
    border-radius: 12px;
    right: 12px;
    top: 12px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

img {
    width: 27px;
    height: 27px;
}

@media only screen and (max-width: 520px) {
    .main-mid {
        height: calc(100vh - (150px + 80px));
    }
}

@media only screen and (max-width: 520px) {
    .main-mid-whole {
        height: calc(100vh - 150px);
    }
}